<!doctype html>
<html>
  <head>
    <title>Encode!</title>
  </head>
  <body>
    <h1> Welcome to the Caesar Encoder </h1>
    <h2> The fanciest encoder in all the land </h2>
    
    <form method="POST" action="/encode">
      <p>What text would you like to encode?</p><br>
      <input type="text" placeholder="Enter your text here" name="string"><br>
      <p>How many characters would you like to offset the text by?</p><br>
      <input type="number" placeholder="ex: 3" name="offset"><br>
      <input type="submit" value="Encode!">
    </form>
    
    
    
  </body>
  
</html>