<!doctype html>
<html>
  <head>
    <title>Encode!</title>
  </head>
  <body>
    <h1> Welcome to the Caesar Encoder </h1>
    <h2> The fanciest encoder in all the land </h2>
    <h2> Your super secret code is</h2>
    
    <h3><%= @encoded_string %></h3>
    
    
    
  </body>
  
</html>